/*header*/

#headshot {
  max-width: 10%;
  border-radius: 50%;
}

/*Icon styles*/

#icon {
  font-size: 1.3em;
  float: right;
  display: block;
  padding: 5px;
}

#hamburger {
  font-size: 2em;
}

/*body styles*/

main {
  padding-top: 10%;
}
