
.imagesInPort {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  margin-top: 10px;
}
/* slider in progress - want to write my own */

#sliderPort {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

#nav-list a {
  text-decoration: none;
}

#aboutList {
  background-color: #D5D5D5;
}

#portfolioList {
  background-color: #9099A2;
}

#blogList {
  background-color: #6D7993;
}

#contactList {
  background-color: #96858F;
}

/* general mane styling across all sections - need to figure out how to style repo list? */

 h3 {
  font-size: 20px;
  font-weight: 400;
}

button a {
  text-decoration: none;
  font-family: sans-serif;
  color: #6a026e;
  font-weight: bolder;
}
/*who knew buttons were text?? */

.buttonDiv {
    text-align: center;
}

button {
    width: 10em;
}

#universeImg {
  width: 50%;
  height: 50%;
  border-radius: 20%;
  margin-top: 10px;
}

#about {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

p {
  padding: 15px;
}
