/*For desktop*/

@media all and (max-width: 500px) {
  #nav-list {
    display: none;
  }
}

/*For Mobile*/

@media all and (min-width: 500px) {
  #hamburger {
    display: none;
  } #nav-list li {
  width: 30%;
  text-align: center;
  font-size: 2em;
  padding: 20px;
  margin-top: 10px;
  -webkit-border-top-right-radius: 300px 35px;
  -moz-border-radius-topright: 300px 35px;
  border-top-right-radius: 300px 35px;
  -webkit-border-bottom-right-radius: 300px 35px;
  -moz-border-radius-bottompright: 300px 35px;
  border-bottom-right-radius: 300px 35px;
  }
}

@media all and (max-width: 500px) {
  #headshot {
    display: none;
  }
}
