/*For desktop*/

@media all and (max-width: 500px) {
  #nav-list {
    display: none;
  }
}

/*For Mobile*/

@media all and (min-width: 500px) {
  #hamburger {
    display: none;
  }
}

@media all and (max-width: 500px) {
  #headshot {
    display: none;
  }
}
