/*For desktop*/
//reviewed by Brandon 4.24.2017

@media all and (max-width: 500px) {
  #nav-list {
    display: none;
  }
}

/*For Mobile*/

@media all and (min-width: 500px) {
  #hamburger {
    display: none;
  } #nav-list li {
  width: 70px;
  text-align: center;
  font-size: 1.3em;
  padding: 20px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-border-radius:  50%;
  -moz-border-radius:  50%;
  border-radius:  50%;
  -webkit-border-radius:  50%;
  -moz-border:  50%;
  border-radius: : 50%;
  }
}

@media all and (max-width: 500px) {
  #headshot {
    display: none;
  }
}
